@model SearchModel
@{
    ViewData["Title"] = "Search";
}


<div class="text-center">
    <h1 class="display-4">Enter a Ticker: </h1>


    <form asp-controller="Home" asp-action="Search" method="get">
        <div class="row">
            <div class="form-group d-flex justify-content-center col-md-8 mx-auto">
                <input id="searchInput" class="form-control w-25" placeholder=@(ViewData["Searched"] != null ? ViewData["Searched"] : "TSLA")
                       maxlength="6" pattern="[a-zA-Z]+" type="text" name="ticker" />
                <button type="submit" class="btn btn-dark button-round ml-1">Search</button>
            </div>
        </div>
    </form>

    @*Check if ticker is not invalid (this can only happen if submitted through url)*@
    @if ((bool)ViewData["InvalidTicker"] != true)
    {
        <div class="alert alert-danger" role="alert">
            Please enter a valid ticker :)
        </div>
    }
    else
    {


        <p>@ViewData["Searched"]</p>

        @if (ViewData["SubredditPosts"] != null)
        {
            var subcount = 0;
            Dictionary<string, string> subredditImages = (Dictionary<string, string>)ViewData["SubredditImages"];
            Dictionary<string, string> subredditColors = (Dictionary<string, string>)ViewData["SubredditColors"];
            Dictionary<Reddit.Controllers.Post, Tuple<string, string>> postsTimePassedStrings = (Dictionary<Reddit.Controllers.Post, Tuple<string, string>>)ViewData["PostsTimePassedStrings"];

            <div class="accordion" id="stockAccordion">
                @foreach (var item in (Dictionary<string, List<Reddit.Controllers.Post>>)ViewData["SubredditPosts"])
                {
                    <div class="card mb-3">
                        <div class="card-header" id="heading@(subcount)">
                            <h5 class="mb-0 btn-group d-flex" style="background-color: @subredditColors[item.Key]">
                                <button class="btn btn-link w-100 p-3" type="button" aria-expanded="false" data-toggle="collapse"
                                        data-target="#collapse@(subcount)" aria-controls="collapse@(subcount)" style="text-decoration: none">

                                    <h3 class="text-center" style="color: white">
                                        <img src="@Url.Content(subredditImages[item.Key])" width="32" height="32" />
                                        @("r/"+ @item.Key)
                                        <img src="@Url.Content(subredditImages[item.Key])" width="32" height="32" />
                                    </h3>

                                </button>
                            </h5>
                            <div id="collapse@(subcount)" class="collapse" aria-labelledby="heading@(subcount)" data-parent="#stockAccordion">
                                @foreach (Reddit.Controllers.Post post in item.Value)
                                {
                                <div class="card-body">

                                    <div class="d-flex justify-content-between p-3 mb-2 bg-dark">
                                        <div class="p-2 invisible " >
                                            <p class="text-right">random text to push</p>
                                            <p class="text-right font-italic text-muted">random text to push</p>
                                        </div>
                                        <div class="p-2 align-self-center flex-fill" >
                                            <h5 class="text-white justify-content-center text-center">
                                                @post.Listing.Title
                                            </h5>
                                        </div>

                                        <div class="p-2 ml-auto align-self-center" >
                                            <p class="text-right" style="color: lightgray">@postsTimePassedStrings[post].Item2</p>
                                            <p class="text-right font-italic text-muted">@postsTimePassedStrings[post].Item1</p>
                                        </div>
                                    </div>
                                    
                                    @Html.Raw(post.Listing.SelfTextHTML)
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    subcount++;
                }
            </div>

        }
    }



</div>